<!--<app-virtual-scroll [items]="topAlbums"
                    [positionList]="positionList"
                    (update)="viewPortItems = $event">
  <app-item-card *ngFor="let item of topAlbums" [item]="item" [class]="positionList"></app-item-card>
<!--</app-virtual-scroll>-->
<div>Album</div>
