:host {
    height: 100%;
}

.star {
    position: relative;
    display: inline-block;
    color: #d3d3d3;
    vertical-align: top;
    text-align: left;
    transform: scale(1.5);
    padding: 0 10px;
}

.focus {
    color: red;
}

.empty-heart:before {
    content: '\2661';
}

.full-heart:before {
    content: '\2665';
    color: red
}
