<app-virtual-scroll [items]="chartList"
                    [positionList]="'vertical'"
                    (update)="viewPortItems = $event">
  <div *ngFor="let item of viewPortItems" [class]="'vertical'">
    <div class="col-md-12 row">
      <div class="no-padding col-md-1 icon-block">
        <img [src]="item.image[0]['#text']">
      </div>
      <div class="no-padding col-md-11">
        <app-heart-button></app-heart-button>{{item.artist['#text']}} - {{item.name}}
      </div>
    </div>
  </div>
</app-virtual-scroll>