<div class="card-item">
  <div class="card-header">
    <div class="card-title col-md-12">{{item.title}}</div>
    <div class="card-subtitle col-md-12">{{item.subtitle}}</div>
  </div>
  <div class="card-image">
    <img [src]="item.image">
  </div>
  <div class="card-actions">

  </div>
</div>