:host{
    width: auto;
    height: auto;
}
.card-item {
    width: 150px;
    height: 150px;
}

.card-header,.card-title, .card-subtitle {
    padding: 0;
    margin: 0;
}

.card-header{
    position: absolute;
    bottom: 0;
    left:0;
    background-color: transparent;
    color: white;
}

.card-title, .card-subtitle{
    color: white;
}

.card-image img{
    height: 100%;
    width: 100%;
}