:host {
    overflow: auto;
    position: relative;
    -webkit-overflow-scrolling: touch;
    display: block;
    height: 100%;
    width: 100%;
}

.scrollable-content {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;

}

.total-padding {
    opacity: 0;
}

:host /deep/ .horizontal {
    display: inline-block;
    position: relative;
    float: left;
}

:host /deep/ .horizontal:last-child {
    position: absolute;
    float: right;
    top: 0;
}