<app-navigate-panel></app-navigate-panel>


<!--<md-grid-list cols="12" rowHeight="370px">
  <md-grid-tile [colspan]="2" [rowspan]="1"></md-grid-tile>
  <md-grid-tile [colspan]="8" [rowspan]="1">
    <app-top-artist-list [positionList]="'horizontal'"></app-top-artist-list>
  </md-grid-tile>
  <md-grid-tile [colspan]="2" [rowspan]="1"></md-grid-tile>

</md-grid-list>
<h1>Top Albums</h1>
<md-grid-list cols="12" rowHeight="370px">
  <md-grid-tile [colspan]="2" [rowspan]="1"></md-grid-tile>
  <md-grid-tile [colspan]="8" [rowspan]="1">
    <app-top-album-list [positionList]="'horizontal'"></app-top-album-list>
  </md-grid-tile>
  <md-grid-tile [colspan]="2" [rowspan]="1"></md-grid-tile>
</md-grid-list>-->


