<app-virtual-scroll [items]="topArtists"
                    [positionList]="positionList"
                    (update)="viewPortItems = $event">
  <app-item-card *ngFor="let item of viewPortItems" [item]="item" [class]="positionList"></app-item-card>
</app-virtual-scroll>
