<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-primary" routerLink="/album">
          <input type="checkbox"> Home
        </label>
      </div>
      <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-primary" routerLink="/album">
          <input type="checkbox"> Album
        </label>
      </div>
      <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-primary" routerLink="/artist">
          <input type="checkbox"> Artist
        </label>
      </div>
    </div>
    <div class="col-md-4">
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
          <img class="avatar" [src]="userImageUrl">
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownBasic1">
          <button class="dropdown-item" routerLink="/profile"><strong>{{userName}}</strong>'s profile</button>
          <button class="dropdown-item" routerLink="/notifications">Notifications</button>
          <button class="dropdown-item" routerLink="/settings">Settings</button>
          <button class="dropdown-item" routerLink="/logout">Log out</button>
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
