<div class="container">
  <div class="row">
    <h4 class="col-md-12">Last songs</h4>
    <app-chart-list class="col-md-12" style="height: 340px"></app-chart-list>
  </div>
  <div class="row">
    <h4 class="col-md-12">Top artists</h4>

    <app-top-artist-list class="col-md-12" style="height: 170px;" [positionList]="'horizontal'"></app-top-artist-list>
  </div>
  <div class="row">
    <h4 class="col-md-12">Top albums</h4>
    <app-top-album-list class="col-md-12" style="height: 170px;" [positionList]="'horizontal'"></app-top-album-list>
  </div>
</div>
