.avatar {
}

.avatar img {
    height: 100%;
}

.tab-item {
    padding: 10px 0;
}

.img-circle {
    border-radius: 50%;
}

.cover {
    position: relative;
}

.cover-background{
    position: absolute;
    left:0;
    top: 0;
    background-repeat: no-repeat;
    height: 100%;
    background-size: cover;
    padding: 0;
    margin: 0;
    opacity: 0.7;
}

.cover .container{
    padding: 20px 0;
    color: white;
}

.sub-title{
    color: #bfbfbf;
}

.action-list{
  border: none;
}

.action-list li{
  margin: 0 10px 0 0;
}

.active{
  border-bottom: solid 5px white;
}
