<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-primary" routerLink="/home">
          <input type="checkbox"> Home
        </label>
      </div>
      <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-primary" routerLink="/album">
          <input type="checkbox"> Album
        </label>
      </div>
      <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-primary" routerLink="/artist">
          <input type="checkbox"> Artist
        </label>
      </div>
    </div>
    <div class="col-md-4">
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-primary avatar" id="dropdownBasic1" ngbDropdownToggle>
          <img class="img-circle img-responsive" [src]="userImageUrlSmall">
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownBasic1">
          <button class="dropdown-item" routerLink="/profile"><strong>{{userName}}</strong>'s profile</button>
          <button class="dropdown-item" routerLink="/notifications">Notifications</button>
          <button class="dropdown-item" routerLink="/settings">Settings</button>
          <button class="dropdown-item" routerLink="/logout">Log out</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="cover">
  <div class="cover-background col-md-12" [ngStyle]="coverStyles">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <img class="img-responsive img-circle" [src]="userImageUrl">
      </div>
      <div class="col-md-7">
        <div class="row">
          <h3 class="col-md-12 title">{{userName}}</h3>

          <div class="col-md-12 sub-title">
            {{userName}}
          </div>
        </div>
        <div class="row col-md-12">
          <ul class="nav nav-tabs action-list" (click)="onSelectAction($event)">

            <li role="presentation"
                [ngClass]="{'active': selectedItem == item}"
                *ngFor="let action of actionList"
                (click)="onSelectAction($event, action)"
                (routerLink)="action.route">
              <div class="tab-item">{{action.title}}</div>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
